<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/output.css">

</head>

<body>
    <div class="bg-green-400">
        <a href="/users" class="hover:underline text-white ">pages users </a>
    </div>
    <a href="/users/create" class="underline text-blue-400">ajouter un utilisateur</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>name</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(element=> { %>
                <tr>
                    <td>
                        <%= element.id %>
                    </td>
                    <td>
                        <%= element.name %>
                    </td>
                    <td><a href="/users/<%=element.id %>">Voir</a></td>
                    <td><a href="/users/edit/<%=element.id %>">Modifier</a></td>
                    <td><button href="/users/edit/<%=element.id %>">supprimer</button></td>


                </tr>
                <% }) %>



        </tbody>
    </table>

</body>

</html>